<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title th:text="#{books.add.title}">Add pook</title>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <h1 th:text="#{books.add.title}">Add book</h1>-->
<!--    <form method="post">-->
<!--        <div class="mb-3">-->
<!--            <label for="bookTitle" class="form-label">Book Title</label>-->
<!--            <input type="email" class="form-control" id="bookTitle">-->
<!--         </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="author" class="form-label">Author</label>-->
<!--            <input type="email" class="form-control" id="author">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="bookDescription" class="form-label">Description</label>-->
<!--            <input type="email" class="form-control" id="bookDescription">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="language" class="form-label">Book Title</label>-->
<!--            <input type="email" class="form-control" id="language">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="genre" class="form-label">Genre</label>-->
<!--            <input type="email" class="form-control" id="genre">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="bookTitle" class="form-label">Book Title</label>-->
<!--            <input type="email" class="form-control" id="bookTitle">-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary" th:text="#{button.submit}">Submit</button>-->
<!--        <a href="#" class="btn btn-danger" th:href="@{/book}" th:text="#{button.cancel}">Cancel</a>-->
<!--    </form>-->
<!--</div>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"-->
<!--        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"-->
<!--        crossorigin="anonymous"></script>-->
<!--</body>-->
<!--</html>-->