<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{book.add.title}">Add pook</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 th:text="#{book.add.title}">Add book</h1>
    <div th:if="${bookTitleExists}" class="alert alert-danger">
        <p th:text="#{book.title.exists}">The book already exists.</p>
    </div>
    <form method="post" th:object="${form}">
        <div class="mb-3">
            <label for="bookTitle" class="form-label" th:text="#{books.label.bookTitle}">Book Title</label>
            <input type="text" class="form-control" id="bookTitle" th:field="*{bookTitle}">
        </div>
        <div class="mb-3">
            <label for="author" class="form-label" th:text="#{books.label.author}">Author</label>
            <input type="text" class="form-control" id="author" th:field="*{author}">
        </div>
        <div class="mb-3">
            <label for="bookDescription" class="form-label" th:text="#{books.label.bookDescription}">Description</label>
            <input type="text" class="form-control" id="bookDescription" th:field="*{bookDescription}">
        </div>
        <div class="mb-3">
            <label for="language" class="form-label" th:text="#{books.label.language}">Language</label>
            <select class="form-select" id="language" th:field="*{language}">
                <option th:each="lang : ${T(at.spengergasse.sj2324posproject.domain.enums.Language).values()}"
                        th:value="${lang}" th:text="${lang}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label for="genre" class="form-label" th:text="#{books.label.genre}">Genre</label>
            <input type="text" class="form-control" id="genre" th:field="*{genre}">
        </div>
        <div class="mb-3">
            <label for="postedById" class="form-label" th:text="#{books.label.postedById}">Posted By</label>
            <input type="number" class="form-control" id="postedById" th:field="*{postedById}">
        </div>
        <div class="mb-3">
            <label for="hardCover" class="form-label" th:text="#{books.label.hardCover}">Hard Cover</label>
            <select class="form-select" id="hardCover" th:field="*{hardCover}">
                <option value="true">Hard</option>
                <option value="false">Soft</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" th:text="#{button.submit}">Submit</button>
        <a href="#" class="btn btn-danger" th:href="@{/books}" th:text="#{button.cancel}">Cancel</a>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
